html,body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	background-color: red;
	margin: 0;
	padding: 10px;
}

.game {
	border: 1px solid black;
}

.other {
	border: 1px solid black;
}

.mainplayer {
	height: 200px;
	width: 90%;
	margin: 0 auto;
}

.img {
	width: 20%;
	border: 1px solid black;
	height: 200px;
	float: left;
}

.mot {
	width: 50%;
	border: 1px solid black;
	height: 200px;
	float: left;
}

.lettres {
	width: 20%;
	border: 1px solid black;
	height: 200px;
	float: left;
}

.pts {
	width: 9%;
	border: 1px solid black;
	height: 200px;
	float: left;
}